pandas
streamlit
regex==2021.8.3
plotly
sklearn
sentence_transformers
scipy
tqdm
gensim==3.8.3
spacy==3.2.0
spacy_legacy==3.0.8
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
